@using EmptyBlazorApp;
@using OnlineShop.Frontend.Components;
@page "/catalog"
@inject OnlineShop.HttpApiClient.IMyShopClient client
@inject NavigationManager manager

@implements IDisposable

<MudDrawerHeader Class="text">Каталог магазина продуктов</MudDrawerHeader>
<MudGrid>
    @if (products is null)
    {
        <div>Страница загружается...</div>
    }
    else
    {
        <MudButton @onclick="ToAddProductPage" Variant="Variant.Filled"
               Style="background-color:#6ec04a;color:white;font-size:15px" Class="mt-4 mb-4 " EndIcon="@Icons.Material.Filled.Add">
            Добавить новый товар
        </MudButton>
        @foreach (var product in products)
        {
            <ProductItem Product="product" />
        }
    }
</MudGrid>

@code {
    private Product[]? products;
    private CancellationTokenSource _cts = new();

    protected override async Task OnInitializedAsync()
    {
        products = await client.GetProducts(_cts.Token);
    }

    void NavigateToProductPage(Guid id)
    {
        manager.NavigateTo($"/products/{id.ToString()}");
    }

    public void Dispose()
    {
        _cts.Cancel();
    }
	public void ToAddProductPage()
	{
		manager.NavigateTo($"/products/new");
	}
}